# React Native / Expo
node_modules/
.expo/
.expo-shared/
dist/
web-build/
npm-debug.*
yarn-error.log
package-lock.json
yarn.lock

# macOS
.DS_Store
Thumbs.db

# Logs
logs
*.log

# Temporary files
temp
tmp

# Editor files
.idea/
.vscode/
*.swp

# Env files
.env
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
expo-env.d.ts
